<div class="flex-container">
  <mat-button-toggle-group [formControl]="toggle" (change)="changeValue()">
    <mat-button-toggle value="avg">AVG</mat-button-toggle>
    <mat-button-toggle value="separated">Separated</mat-button-toggle>
    <mat-button-toggle value="sum">SUM</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div class="tz-block">
  <div class="center-block">
    <mat-button-toggle-group [value]="timezoneType" (change)="timezoneChange($event)">
      <mat-button-toggle value="utc">UTC</mat-button-toggle>
      <mat-button-toggle value="local">Local time</mat-button-toggle>
      <mat-button-toggle value="custom">Custom</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="center-block" *ngIf="timezoneType === 'custom'">
    <mat-form-field class="tz-select-box">
      <mat-label>timezone</mat-label>
      <input type="text"
             placeholder="- Select timezone -"
             matInput
             (ngModelChange)="timezoneChangeCustom($event)"
             [formControl]="timezoneFilterForm"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of timezoneFilter | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div echarts [options]="(echartsOptions | async) ?? {}" class="chart"></div>
