.toggle {
  width: 60%;
}

.flex-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

mat-button-toggle-group {
  margin-top: 20px;
}

.chart {
  height: 50%;
}

mat-progress-bar {
  padding-top: 10px;
}
