.toggle {
  width: 60%;
}

.flex-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

mat-button-toggle-group {
  margin-top: 5px;
}

.chart {
  height: 50%;
}

mat-progress-bar {
  padding-top: 10px;
}

.tz-block {
  margin-top: 5px;
  margin-bottom: 5px;
}

.center-block {
  display: flex;
  justify-content: center;
}
.tz-select-box {
  width: 300px;
}
