<div class="actions" *ngIf="actionsService.selectedTests().length > 0">
  <span *ngIf="actionsService.selectedTests().length > 0">
    {{ actionsService.selectedTests().length }} selected
  </span>
  <button mat-button (click)="actionsService.selectedTests.set([])"
          matTooltip="Cancel selection"
          matTooltipShowDelay="300">
    <mat-icon svgIcon="fas:xmark"></mat-icon>
  </button>
  <button mat-button (click)="actionsService.openAddKnownIssue()"
          matTooltip="Add known issue"
          matTooltipShowDelay="300">
    <mat-icon svgIcon="fas:virus"></mat-icon>
  </button>
  <button mat-button (click)="actionsService.removeKnownIssues()"
          matTooltip="Remove all known issues"
          matTooltipShowDelay="300">
    <mat-icon svgIcon="fas:virus-slash"></mat-icon>
  </button>
  <button mat-button (click)="actionsService.openAddCommentModal()"
          matTooltip="Add comment"
          matTooltipShowDelay="300">
    <mat-icon svgIcon="fas:comment"></mat-icon>
  </button>
  <button mat-button (click)="actionsService.openEditModal()"
          matTooltip="Edit first selected test"
          matTooltipShowDelay="300">
    <mat-icon svgIcon="fas:pen"></mat-icon>
  </button>
  <button mat-button color="warn" (click)="actionsService.deleteSelectedTests()"
          matTooltip="Remove tests and attached files"
          matTooltipShowDelay="300">
    <mat-icon svgIcon="fas:trash-can"></mat-icon>
  </button>
</div>
