.width {
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  margin-bottom: 30px;
}

.container {
  max-height: 85vh;
  width: 700px;
  padding: 30px;
  overflow: scroll;
}

h3 {
  text-align: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}

mat-dialog-actions {
  justify-content: center;
}
