.container {
  margin-top: 1%;
}

@media only screen and (max-width: 1200px) {
  .container {
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .container {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (min-width: 1600px) and (max-width: 2400px) {
  .container {
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media (min-width: 2400px) {
  .container {
    margin-left: 30%;
    margin-right: 30%;
  }
}

.width {
  width: 100%;
}

.additional-actions {
  display: flex;
  margin-left: auto;
}

.icon {
  width: 45px;
  height: 45px;
}

.actions {
  background-color: rgba(255, 0, 22, 0.05);
  padding: 10px;
  text-align: right;
}

.page-title {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 20px;
}


.selected-chip {
  //background: linear-gradient(-45deg, rgba(200, 0, 255, 0.3), rgba(255, 0, 0, 0.3), rgba(213, 162, 0, 0.3), rgba(43, 199, 0, 0.3));
  //background-size: 300% 300%;
  //animation: gradient 2s ease infinite;
  background-color: black;
  color: white;
}

@keyframes gradient {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 100%;
  }
}

.quick-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.show-statistics-btn {
  font-weight: bold;
  font-size: x-large;
}
.statistics {
  margin-bottom: 20px;
}

.block {
  display: flex;
  flex-wrap: wrap;
}

.filter-btn {
  line-height: normal !important;
  margin: 5px;
  padding: 5px;
}
