<div class="status"
     [ngStyle]="getStatusStyle(((testInfo | async) ?? {}).status)"
     *ngIf="getKeys(((testInfo | async) ?? {}).length > 0)">
  {{ ((testInfo | async) ?? {}).status }}
</div>
<div class="flex">
  <button class="opener" mat-button (click)="toggleInfo()">
    Build info
  </button>
</div>
<ng-container *ngIf="showInfo">
  <span class="time">
    {{format(((testInfo | async) ?? {}).start_time)}} - {{((testInfo | async) ?? {}).end_time ? format(((testInfo | async) ?? {}).end_time) : 'running'}}
  </span>
  <div class="flex">
    <table>
      <tr *ngFor="let propKey of getKeys((((testInfo | async) ?? {}) ?? {config: {}}).config)">
        <td>{{ propKey }}</td>
        <td>
          <ng-container *ngIf="propKey !== 'known_issues'">{{ getValue(propKey) }}</ng-container>
          <ng-container *ngIf="propKey === 'known_issues'">
            <div *ngFor="let link of getValue(propKey).split(',')">
              <a (click)="openLink(link)">{{link}}</a>
              <br/>
            </div>
          </ng-container>
        </td>
      </tr>
    </table>
  </div>
</ng-container>
