@media only screen and (max-width: 1200px) {
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .exception-wrapper {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (min-width: 1600px) and (max-width: 2400px) {
  .exception-wrapper {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (min-width: 2400px) {
  .exception-wrapper {
    margin-left: 25%;
    margin-right: 25%;
  }
}

.exception-wrapper {
}
