<button mat-button (click)="clickBlock ? null : open = !open" class="opener width">
  <mat-icon [svgIcon]="open ? 'fas:angle-down' : 'fas:angle-right'"></mat-icon>
  {{name}}
</button>
<ng-container *ngIf="open">
  <ul>
    <app-stress-attachment-item
      [name]="parent.name"
      [attachments]="parent.parents"
      *ngFor="let parent of parents | async"
    ></app-stress-attachment-item>
    <button mat-button
            *ngIf="((attachmentsSync.selectedAttachments | async) ?? []).length > 0"
            (click)="selectAllList()"
            color="primary">Select all list</button>
    <button class="width attachment" mat-button
            [ngStyle]="getStyle(item)"
            (click)="openAttachment(item)"
            *ngFor="let item of items | async"
            (contextmenu)="selectAttachment($event, item)">
      <mat-icon svgIcon="far:file-alt"></mat-icon>
      {{item.name}}
      <mat-icon *ngIf="item.file_id === null" svgIcon="fas:trash-alt"></mat-icon>
    </button>
  </ul>
</ng-container>
