.opener {
  justify-content: flex-start;
}

.mdc-button {
  padding: 0px !important;
}

ul {
  list-style-type: none;
  margin-left: -20px;
}

.width {
  width: 100%;
}

.attachment {
  text-align: left;
}
