<button mat-button
        [ngStyle]="getStyle()"
        (click)="isRealAttachment() ? openAttachment() : open = !open"
        (contextmenu)="selectAttachment($event)"
        class="opener width">
  <mat-icon *ngIf="!isRealAttachment()" [svgIcon]="open ? 'fas:angle-down' : 'fas:angle-right'"></mat-icon>
  <mat-icon *ngIf="isRealAttachment()" svgIcon="far:file"></mat-icon>
  {{attachment.prettyName}}
  <mat-icon *ngIf="isRealAttachment() && attachment.file_id === null"
            matTooltip="File deleted"
            svgIcon="fas:trash-can"></mat-icon>
</button>
<ng-container *ngIf="open">
  <ul>
    <app-stress-attachment-item
      *ngFor="let attach of attachment.children"
      [attachment]="attach"></app-stress-attachment-item>
  </ul>
</ng-container>
