.row {
  width: 100%;
}

.history_items {
  display: flex;
}

.page {
  margin: 10px;
  font-size: 15px;
  padding: 5px 12px 5px 12px;
}

.title-btn {
  font-size: 20px;
}

.block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.report-title {
  margin: 10px;
}
