<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="row" *ngFor="let report of foundReports()">
  <div class="report-title block">
    <button mat-button class="title-btn" (click)="openReport(report.name)">{{ report.name }}</button>
  </div>
  <div class="block">
    <div *ngFor="let test of report.found_tests">
      <button class="page" mat-button
              (click)="openTest(test.test_id)"
              [ngStyle]="getCardStyle(test)">
        {{ test.config[report.config.page_property] }}
      </button>
      ->
    </div>
  </div>
</div>
