<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="tz-block">
  <div class="center-block">
    <mat-button-toggle-group [value]="timezoneType" (change)="timezoneChange($event)">
      <mat-button-toggle value="utc">UTC</mat-button-toggle>
      <mat-button-toggle value="local">Local time</mat-button-toggle>
      <mat-button-toggle value="custom">Custom</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="center-block" *ngIf="timezoneType === 'custom'">
    <mat-form-field class="tz-select-box">
      <mat-label>timezone</mat-label>
      <input type="text"
             placeholder="- Select timezone -"
             matInput
             (change)="timezoneChangeCustom($event)"
             [formControl]="timezoneFilterForm"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of timezoneFilter | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>
<div echarts [options]="(chartOptions | async) ?? {}" (chartClick)="click($event)" [ngStyle]="graphStyle()"
     class="width"></div>
<div class="flex">
  <button class="close" mat-button (click)="openedSteps.next([])" *ngIf="((openedSteps | async) ?? []).length > 0">Close
    all
  </button>
  <ng-container *ngFor="let step of openedSteps | async">
    <h3 class="width" [ngStyle]="getStepStatus(step.status)">{{step.properties.name}}</h3>
    <span class="width time-range">{{getStepTime(step)}}</span>
    <table>
      <tr class="headers">
        <th>Property</th>
        <th>Value</th>
      </tr>
      <tr *ngFor="let propKey of getKeys(step.properties)">
        <td>{{ propKey }}</td>
        <td>{{ step.properties[propKey] }}</td>
      </tr>
    </table>
  </ng-container>
</div>
