.time {
  text-align: right;
}

mat-card {
  margin-top: 5px;
}

mat-card:hover {
  background-color: rgba(5, 0, 255, 0.06);
  cursor: pointer;
}

.status {
  margin-top: 10px;
  font-size: x-large;
  font-weight: bold;
}

.status-wrapper {
  display: flex;
  justify-content: right
}

mat-card-title-group {
  display: flex;
}

.configs {
  margin-left: 20px;
  margin-right: auto;
}
