<mat-card [ngStyle]="getCardColor()" (click)="openTest(test.test_id)" (contextmenu)="selectCard($event)">
  <mat-card-title-group>
    <div class="configs">
      <div *ngFor="let key of getKeys(test.config)">
        {{key}}: {{test.config[key]}}
      </div>
    </div>
    <div>
      <div class="time">{{ getTimeFormat() }}</div>
      <div class="time">{{ getTimeDiff() }}</div>
      <div class="status-wrapper">
        <button mat-button class="status" [ngStyle]="getStatusStyle(test.status)" (click)="openException()">{{test.status}}</button>
      </div>
    </div>
  </mat-card-title-group>
</mat-card>
<ng-container *ngFor="let exception of ((exceptions | async) ?? [])">
  <h3>{{ exception.name }}</h3>
  <app-exception [result]="exception"></app-exception>
</ng-container>
