<div class="section">
  <mat-form-field>
    <mat-label>Key</mat-label>
    <input matInput [formControl]="key">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Value</mat-label>
    <input matInput [formControl]="value">
  </mat-form-field>
  <button mat-button (click)="add()">Add</button>
</div>
<div class="section">
  <mat-chip-list>
    <mat-chip *ngFor="let property of ((properties | async) ?? [])">
      {{property.key}} = {{property.value}}
    </mat-chip>
  </mat-chip-list>
</div>
<button mat-button color="primary" class="width" (click)="submit()">Add</button>
<button mat-button color="warn" class="width" (click)="cancel()">Cancel</button>
