.block {
  display: flex;
  flex-wrap: wrap;
}

mat-card {
  margin-top: 5px;
}

mat-card:hover {
  background-color: rgba(5, 0, 255, 0.06);
  cursor: pointer;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
}

.url {
  font-size: 1rem;
}

.test {
  line-height: normal !important;
  margin: 5px;
  padding: 5px;
}

.show-btn {
  padding: 10px;
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: x-large;
}

.container {
  margin-bottom: 15px;
  margin-top: 15px;
}
