button {
  width: 300px;
}

.flex-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.width {
  width: 100%;
}

.show-button {
  text-align: left;
}

mat-tab-group {
  margin-left: 2%;
  margin-right: 2%;
}
