<div class="flex-container">
  <button mat-button (click)="toggleCloseOpen()"
  >{{openedGraphs.getValue().length > 0 ? 'Close' : 'Open'}} all
  </button>
</div>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<mat-tab-group dynamicHeight mat-align-tabs="center" animationDuration="100ms" color="warn">
  <mat-tab [label]="section" *ngFor="let section of sections | async">
    <ng-template matTabContent>
      <div class="width" *ngFor="let graph of ((graphs | async) ?? {})[section]">
        <div class="flex-container">
          <button class="show-button" mat-button (click)="toggleShow(graph.name)">
            <mat-icon [svgIcon]="graphIsOpen(graph.name) ? 'fas:angle-down' : 'fas:angle-right'"></mat-icon>
            {{ graph.modified }}
          </button>
        </div>
        <div *ngIf="graphIsOpen(graph.name)">
          <app-stress-metric-graph [graphName]="graph.name" [testId]="testId"></app-stress-metric-graph>
        </div>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
