button {
  width: 300px;
}

.flex-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.width {
  width: 100%;
}

.mdc-button {
  padding: 0px !important;
}
.show-button {
  justify-content: flex-start;
}

mat-tab-group {
  margin-left: 2%;
  margin-right: 2%;
}
