<div class="container">
  <!--  Date   -->
  <div class="search-field">
    <mat-form-field class="time-range" appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input (click)="picker.open()" [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate (dateChange)="findTests()" formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <button mat-button (click)="today()">today</button>
    <div class="additional-actions">
      <button class="icon" mat-icon-button (click)="selectAllShown()">
        <mat-icon svgIcon="fas:check-double"></mat-icon>
      </button>
      <button class="icon" mat-icon-button (click)="findTests()">
        <mat-icon svgIcon="fas:arrows-rotate"></mat-icon>
      </button>
    </div>
  </div>

  <!--  Context search  -->
  <mat-form-field class="context-filter">
    <mat-label>Search by context</mat-label>
    <input matInput [formControl]="contextSearch" (keydown)="searchContext($event)">
  </mat-form-field>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <!--  Actions  -->
  <div class="actions" *ngIf="((actionsService.selectedTests | async) ?? []).length > 0">
    {{((actionsService.selectedTests | async) ?? []).length}} tests selected
    <button mat-button
            (click)="actionsService.selectedTests.next([])"
            matTooltip="Cancel selection"
            matTooltipShowDelay="300">
      <mat-icon svgIcon="fas:xmark"></mat-icon>
    </button>
    <button mat-button (click)="actionsService.openAddKnownIssue()"
            matTooltip="Add known issue"
            matTooltipShowDelay="300">
      <mat-icon svgIcon="fas:virus"></mat-icon>
    </button>
    <button mat-button (click)="actionsService.removeKnownIssues()"
            matTooltip="Remove all known issues"
            matTooltipShowDelay="300">
      <mat-icon svgIcon="fas:virus-slash"></mat-icon>
    </button>
    <button mat-button (click)="actionsService.openRemoveProperties()"
            matTooltip="Remove properties"
            matTooltipShowDelay="300">
      <mat-icon svgIcon="fas:minus"></mat-icon>
    </button>
    <button mat-button (click)="actionsService.openAddProperties()"
            matTooltip="Add properties"
            matTooltipShowDelay="300">
      <mat-icon svgIcon="fas:plus"></mat-icon>
    </button>
    <button mat-button (click)="actionsService.openEditModal()"
            matTooltip="Edit first selected test"
            matTooltipShowDelay="300">
      <mat-icon svgIcon="fas:pen"></mat-icon>
    </button>
    <button mat-button color="warn" (click)="actionsService.deleteSelectedTests()"
            matTooltip="Remove tests and attached files"
            matTooltipShowDelay="300">
      <mat-icon svgIcon="fas:trash-can"></mat-icon>
    </button>
  </div>

  <app-stress-test-card
    (onToggle)="onTestToggle(test)"
    [test]="test"
    [selected]="((actionsService.selectedTests | async) ?? []).includes(test.test_id)"
    *ngFor="let test of showTests | async">
  </app-stress-test-card>
</div>
