.container {
  margin-top: 1%;
}

@media only screen and (max-width: 1200px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .container {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (min-width: 1600px) and (max-width: 2400px) {
  .container {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (min-width: 2400px) {
  .container {
    margin-left: 25%;
    margin-right: 25%;
  }
}

.search-field {
  display: flex;
}

.time-range {
  cursor: pointer;
}

.active-filters {
  display: flex;
}

.add-filter {
  width: 100px;
}

.context-filter {
  width: 100%;
}

.icon {
  width: 45px;
  height: 45px;
}

.additional-actions {
  margin-left: auto;
}
