<div class="container">
  <!--  Date   -->
  <div class="search-field">
    <mat-form-field class="time-range" appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input (click)="picker.open()" [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate (dateChange)="findTests()" formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <button class="today-btn" mat-button (click)="today()">today</button>
    <div class="additional-actions">
      <button class="icon" mat-icon-button (click)="selectAllShown()">
        <mat-icon svgIcon="fas:check-double"></mat-icon>
      </button>
      <button class="icon" mat-icon-button (click)="findTests()">
        <mat-icon svgIcon="fas:arrows-rotate"></mat-icon>
      </button>
    </div>
  </div>

  <!--  Context search  -->
  <mat-form-field class="context-filter">
    <mat-label>Search by context</mat-label>
    <input matInput [formControl]="contextSearch" (keydown)="searchContext($event)">
  </mat-form-field>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <app-actions-bar></app-actions-bar>

  <app-stress-test-card
    (onToggle)="onTestToggle(test)"
    [test]="test"
    [selected]="actionsService.selectedTests().includes(test.test_id)"
    *ngFor="let test of showTests()">
  </app-stress-test-card>
</div>
