<div class="container">
  <!--  Date   -->
  <div class="search-field">
    <mat-form-field class="time-range" appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input (click)="picker.open()" [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate (dateChange)="findTests()" formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <button class="refresh" mat-icon-button (click)="findTests()">
      <mat-icon svgIcon="fas:sync"></mat-icon>
    </button>
  </div>
  <!--  Add filters  -->
  <div>
    <mat-form-field>
      <mat-label>Property</mat-label>
      <input matInput [formControl]="filterKey">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Value</mat-label>
      <input matInput [formControl]="filterValue" (keydown)="$event.key === 'Enter' ? addFilter() : null">
    </mat-form-field>
    <button class="add-filter" mat-button (click)="addFilter()">Add filter</button>
  </div>
  <!--  Filters  -->
  <div class="active-filters" *ngIf="((filters | async) ?? []).length > 0">
    <mat-chip-list *ngFor="let filter of filters | async">
      <mat-chip>
        {{ filter.key }} = {{ filter.value }}
        <button matChipRemove (click)="removeFilter(filter)">
          <mat-icon svgIcon="fas:times"></mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>
    <button mat-button (click)="clearAllFilters()">Clear</button>
  </div>

  <!--  Context search  -->
  <mat-form-field class="context-filter">
    <mat-label>Search by context</mat-label>
    <input matInput (keydown)="contextSearch($event)">
  </mat-form-field>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <!--  Actions  -->
  <div class="actions" *ngIf="((selectedTests | async) ?? []).length > 0">
    {{((selectedTests | async) ?? []).length}} tests selected
    <button mat-button (click)="selectedTests.next([])">
      Cancel
    </button>
    <button mat-button (click)="openAddKnownIssue()">Add issues</button>
    <button mat-button (click)="removeKnownIssues()">Remove issues</button>
    <button mat-button (click)="openEditModal()">
      <mat-icon svgIcon="fas:edit"></mat-icon>
    </button>
    <button mat-button color="warn" (click)="deleteSelectedTests()">
      <mat-icon svgIcon="fas:trash-alt"></mat-icon>
    </button>
  </div>

  <app-stress-test-card
    (onToggle)="onTestToggle(test)"
    [test]="test"
    [selected]="((selectedTests | async) ?? []).includes(test.test_id)"
    *ngFor="let test of showTests | async">
  </app-stress-test-card>
</div>
